* {

margin: 0;

padding: 0;

font-family: "Times New Roman", Times, serif;

}
body { 
background-image: url("thumb-1920-528244.jpg"); 
background-size: cover; 
height: 100%;
}

body {
  color: blue;
}

h1 {
  color: green;
}
