* {

margin: 0;

padding: 0;

font-family: "Avenir";

}
body { 
background-image: url("https://pixabay.com/get/53e4d54b4b50b108feda8460da2932761c3cd9e35a5879_1920.jpg?attachment="); 
background-size: cover; 
height: 100%;
}

body {
  color: #dcf5dd;
}

h1 {
  color: #f2e996;
}
  <link rel="stylesheet" href="style.css">
